# Polymarket
PRIVATE_KEY=
PROXY_ADDRESS=
POLYGON_RPC_URL=https://polygon-rpc.com

# Polymarket Relayer
RELAYER_API_KEY=
RELAYER_API_KEY_ADDRESS=

# X / Twitter API
X_BEARER_TOKEN=

# Twilio (phone call alerts)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_TO_NUMBER=
